@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.contendedor-carrousel-1,
.contendedor-carrousel-2 {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}


.motor-carrousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.item-carrousel {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
}


.item-carrousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.item-carrousel h4 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}


.btn-izquierda-carrousel,
.btn-derecha-carrousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    border: none;
    padding: 10px;
    border-radius: 50%;
    z-index: 100;
}

.btn-izquierda-carrousel {
    left: 0px;
}

.btn-derecha-carrousel {
    right: 0px;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;

 
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:0 0%;
    width: 100%;
    height: auto;
    background-color: #d9d9d9 ;
    margin: 0;
    opacity: 0.75;
    position: relative;
    z-index: 2;
}
section {
  
    color: #d9d9d9;
    position: relative;
    z-index: 2;
    margin: 10%;

}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 45px;
    margin: 5%;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #070b26;

  
}
h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    margin: 5%;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #070b26;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
button {
    
    border-radius: 10px;
    padding: 2%;
    border-style: none;
    background-color: #070b26;
    margin: 0% 2%;
}
button :hover{
  background-color: #d98a29;
  border-radius: 5px;
}

.logo, img{
    
    width: 27%;
    margin: 0 5% 0 0;

}
ul{

    display: flex;
    justify-content: flex-end;
    list-style: none;
   
}


li {
    margin: 4%;
    
}
li :hover{
    color: #d98a29;
}

a {
 text-decoration: none;
 color: #070b26;
}
