@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;


}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 0%;
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    margin: 0;
    opacity: 0.75;
    position: relative;
    z-index: 2;
}

section {

    color: #d9d9d9;
    position: relative;
    z-index: 2;
    margin: 10%;

}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 45px;
    margin: 5%;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #070b26;


}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    margin: 5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #070b26;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {

    border-radius: 10px;
    padding: 2%;
    border-style: none;
    background-color: #070b26;
    margin: 0% 2%;
}

button :hover {
    background-color: #d98a29;
    border-radius: 5px;
}

.logo,
img {

    width: 27%;
    margin: 0 5% 0 0;

}

ul {

    display: flex;
    justify-content: flex-end;
    list-style: none;

}


li {
    margin: 4%;

}

li :hover {
    color: #d98a29;
}

a {
    text-decoration: none;
    color: #070b26;
}

/**aqui empieza los estilos del formato de inicio de sesión**/
.sesion {
    color: blue;
    text-align: center;
    margin-top: 20px;
    background: rgb(220, 217, 217);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #2f389f;
}

.boton2:hover {
    background-color: #1c258b;
}

.boton2 {
    padding: 10px, 20px;
    border-radius: 5px;
    background-color: rgb(109, 106, 158);
    color: #fffafa;
    font-style: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 50px;
}
button {
    padding: 10px, 20px;
    border-radius: 5px;
    background-color: rgb(114, 120, 164);
    color: #f7f7ff;
    font-style: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input{
    border-radius: 5px;
    border-style: none;
}
/**aqui termina**/

/**aqui empieza los estilos del formato de inicio de sesión**/
.registro{
    opacity: 0.9;
    color: blue;
    text-align: center;
    margin-top: 20px;
    background: rgb(220, 217, 217);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}